/* Barra de navegación */
.a-logo img {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

/* Ajuste del botón "Registrarse" */
.nav-link.btn-warning {
  border-radius: 5px;
  padding: 8px 16px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#btnFiltrar {
  margin-left: auto;
  margin-right: 20px;
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnFiltrar:hover {
  background-color: #ff8c00; /* Naranja al pasar el mouse */
  color: white;
}

#btnFiltrar img {
  width: 20px;
  height: 20px;
}

.menu-filtros {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 220px;
  z-index: 1000;
}

#btnCerrarFiltros {
  margin-top: 10px;
  background-color: #f57c00;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

#btnCerrarFiltros:hover {
  background-color: #ef6c00;
}

#contenedor-tarjetas {
  max-width: 80%;
}

.actividades.card button {
  background-color: #6750a4;
  color: #fff;

  &:hover {
    background-color: #fa9500;
    color: #fff;
  }

  &:active {
    background-color: #fa9500;
    color: white !important;
  }
}

.actividades.card {
  background-color: #d9d9d9;
}

.actividades .card-text {
  color: rgb(81, 81, 81);
  font-weight: 400;
}

.actividades .card-img-top {
  height: 9.375rem;
  object-fit: cover;
}

.ver-mas-btn {
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 0;
  margin-top: 2rem;

  &:hover {
    border: 1px solid gray;
    background-color: #d9d9d9;
  }

  &:active {
    background-color: #d9d9d9 !important;
    border: 1px solid black;
  }
}

.contbotones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.boton1,
.boton2 {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton1:hover,
.boton2:hover {
  background-color: rgb(201, 130, 0);
}

