@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.titulo-destino {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Tarjetas de hoteles */
.alojamientos.card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.6s ease-out forwards;
}

.alojamientos.card:hover {
  transform: scale(1.05);
}

.card.seleccionada {
  border: 2px solid #eb6424;
  box-shadow: 0 0 10px rgba(202, 50, 3, 0.753),
    /* sombra cálida */ 0 0 20px rgba(226, 92, 2, 0.884),
    /* halo suave */ 0 0 35px rgba(233, 137, 28, 0.445); /* resplandor más amplio */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alojamientos .card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-alojamiento.card-body {
  text-align: center;
}

/* Botón "Ver actividades" */
#btn-ver-actividades {
  background-color: #eb6424;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-block;
  margin: 30px auto;
}

#btn-ver-actividades:hover {
  background-color: #e97037;
  color: #000;
  transform: scale(1.05);
}

/* Detalles de los alojamientos */
.galeria {
  position: relative;
  display: grid;
  grid-template-areas:
    "principal principal grid1"
    "principal principal grid2"
    "grid3 grid4 grid2"
    "grid3 grid4 grid2";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 150px 150px 100px;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.principal {
  grid-area: principal;
}
.grid1 {
  grid-area: grid1;
}
.grid2 {
  grid-area: grid2;
}
.grid3 {
  grid-area: grid3;
}
.grid4 {
  grid-area: grid4;
}

.galeria h1 {
  position: absolute;
  transform: translateX(50px);
  background-color: #d4d4d4;
  width: 250px;
  text-align: center;
  border-radius: 10px;
}

.puntuacion {
  position: absolute;
  transform: translate(765px, 40px);
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.galeria-informacion p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: auto;
  background-color: #d4d4d4;
  border-radius: 10px 0px 0px 10px;
  height: 53px;
  margin-bottom: 10px;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  text-align: start;
  background-color: #d4d4d4;
  border-radius: 10px 0px 0px 10px;
  padding: 45px;
  max-height: 105px;
}

.servicios {
  background-color: #d4d4d4;
  height: 200px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
}

.servicios p,
ul {
  font-size: 18px;
}

.btn-contenedor {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}

.boton-reservar {
  transform: translate(-100px, 30px);
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eb6424;
  box-shadow: 3px 4px 5px 0px rgba(253, 165, 0, 0.75);
  color: white;
  cursor: pointer;
}

.form-admin-alojamientos {
  display: flex;
  flex-direction: column;
}

.btn-continuar-alojamiento {
  border: none;
  background-color: #e97037;
  color: #fff;
}

.admin-action {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}



/*MODAL PARA AGREGAR ALOJAMIENTOS*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 10px;
}

.modal-content {
  background: white;
  padding: 25px;
  width: 800px;
  border-radius: 10px;
  gap: 10px;
  transform: scale(0.8);
  padding: 10px;
}

.form-alojamiento label {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

.form-alojamiento input,
.form-alojamiento textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  gap: 100;
}

.btns-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-guardar {
  background: #eb6424;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-cancelar {
  background: rgb(255, 52, 52);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

