.img-container{
    position: relative;
}

.alojamientos {
    .precio-container {
        transform: translateX(200px);
        transition: .5s ease-in-out;
    }
    .estrellas-container{
        transform: translateY(-50px);
        transition: .5s ease-in-out;
    }
}

.alojamientos:hover {
    .precio-container {
        display: flex;
        transform: translateX(0px);
    }
    .estrellas-container{
        display: flex;
        transform: translateY(0px);
    }
}

.precio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(233, 232, 232, 0.836);
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid #6a7a10;
}

.precio-container > p {
    margin: 0;
    font-weight: 500;
}

.estrellas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(233, 232, 232, 0.836);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid #6a7a10;
}

.btn-verMas {
    border: 2px solid #6a7a10;
}

.btn-verMas:hover {
    background-color: #6a7a10;
    color: #fff;
}

.btn-seleccionar,
.btn-seleccionado {
    font-size: 14px;
    background-color: #EB6424;
    color: #fff;
}

.btn-seleccionar:hover {
    background-color: #cf551e;
    color: #fff;
}

.btn-seleccionado:hover {
    background-color: #e68a00;
    color: #fff;
}