footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 30px;
    background: #333334;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.logoFooter {
    width: 150px;
    height: auto;
}

.divSucursales,
.divRedes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin: 0 20px;
}

.divSucursales p{
    margin: 5px 0;
    line-height: 1.5;
}

.divRedes {
    flex-direction: row;
    height: 110px;
    margin-top: 15px;
}

.logosRedes {
    width: 50px;
    height: 50px;
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.logosRedes:hover {
    transform: scale(1.3);
}

@media (max-width: 1000px) {
    .columna-imagenes {
        grid-template-columns: repeat(2, 2fr);
    }

    .columnas-imagenes-contenedor {
        background-size: cover;
    }
}


@media (max-width: 767.98px) {
    .columna-imagenes {
        grid-template-columns: repeat(1, 2fr);
    }

    .columnas-imagenes-contenedor {
        background-size: cover;
    }

    footer {
        padding: 50px;
        max-width: 1366px;
        display: flex;
        justify-content: center;
    }

    .divSucursales p {
        font-size: 10px;
    }

    .logoFooter {
        width: 100px;
        align-items: center;
        justify-content: center;
    }

    .divRedes a > img {
        object-fit: contain;
        width: 30px;
    }


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .divSucursales p{
        font-size: 10px;
    }

    .logoFooter {
        width: 100px;
    }

    .divRedes {
        flex-direction: column;
    }
    .divRedes a > img {
        width: 30px;
        object-fit: contain;
    }

    .columna-imagenes{
        padding: 0;
        padding-top: 50px;
        row-gap: 50px;
    }
}