.navbar-contenedor {
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  top: 0;
}

.navbar {
  max-width: 1366px;
  margin: 0 auto;
}

.navbar-btn {
  border: 2px solid #eb6424;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-btn:focus {
  box-shadow: none;
}

.Nav-bar-link:hover {
  color: #eb6424;
}

.Nav-bar-link {
  font-weight: 500;
  color: white;
}

.Nav-bar-link.active {
  color: #eb6424;
}

.Nav-bar-link:focus,
.Nav-bar-link:focus-visible,
.Nav-bar-link:active {
  outline: none;
  color: #ff8c42 !important; 
}

.navbar-ul-contenedor ul {
  gap: 30px;
}

.a-logo img {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

.Nav-bar-dropdown-item {
  font: 700;
}

.btn-registrate {
  border-radius: 10px;
  transition: 0.3s;
}

.btn-registrate:hover {
  background-color: #eb6424;
}
