.navbar-contenedor {
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  top: 0;
}

.navbar {
  max-width: 1366px;
  margin: 0 auto;
}

.navbar a {
  font-weight: 500;
  color: white;
}

.nav-link:hover{
  color: #eb6424;
}

.nav-link {
  color: #eb6424;
}

.navbar-ul-contenedor ul {
  gap: 30px;
}

.a-logo img {
  width: 150px;
  object-fit: cover;
}

.btn-registrate {
  border-radius: 10px;
  transition: 0.3s;
}

.btn-registrate:hover {
  background-color: #eb6424;
}
